<footer class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="copyrights text-center text-white py-4">
    <p class="mb-0 text-sm">Copyright © 2024 Oumaima Lairani. All Rights Reserved. Check out the project repository <a href="#" rel="noopener" target="_blank">here</a></p>
  </div>
</footer>

</body>

</html>