<%- include('../partials/header.ejs') %>


<section>
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold underline mb-5">
      Create Category
    </h1>

    <div>
    </div>
  </div>
</section>


<%- include('../partials/footer.ejs') %>